<div action="#" class="profile-form">
    {{{avatar_img}}}
    {{{avatar_title}}}
    {{{profile_email}}}
    {{{profile_login}}}
    {{{profile_name}}}
    {{{profile_name}}}
    {{{profile_name_in_chat}}}
    {{{profile_password}}}
    {{{profile_phone}}}
    {{{button}}}
</div>  