<div class="profile-field">
    <label class="profile-field_label" for="{{id}}">{{input_value}}</label>
    <input class="profile-field_input" type="email" id={{id}} value="{{value}}" placeholder="{{input_value}}"/>
</div>