<div action="#" class="profile-form">
    {{{avatar_img}}}
    {{{profile_email}}}
    {{{profile_login}}}
    {{{profile_name}}}
    {{{profile_name1}}}
    {{{profile_name_in_chat}}}
    {{{profile_phone}}}
    {{{link_profile}}}
    {{{link_profile1}}}
    {{{link_exit}}}
</div>  